trunk/xcapinterface/test/http/xml/contacts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 (http://www.altova.com) -->
<xs:schema targetNamespace="contacts" xmlns="contacts"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="contacts">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="contact" maxOccurs="unbounded" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="contact">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="method" />
				<xs:element ref="contactName" />				
				<xs:element ref="createDate" />
			</xs:sequence>
			<xs:attribute name="id"> <!-- use="required" -->
				<xs:simpleType>
					<xs:restriction base="xs:long"></xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="method">
		<xs:simpleType>
			<xs:restriction base="xs:string"></xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="createDate">
		<xs:simpleType>
			<xs:restriction base="xs:string"></xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="contactName">
		<xs:simpleType>
			<xs:restriction base="xs:string"></xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
