xcapinterface/src/doc/contact-list-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 (http://www.altova.com)-->
<xs:schema targetNamespace="contact-lists" 
	xmlns="contact-lists" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="contact-lists">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="contact" maxOccurs="unbounded"/>
				<xs:element ref="list" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="contact" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"></xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="source" use="required" type="xs:string"></xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="contact">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
			</xs:sequence>
			<xs:attribute name="msisdn" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"></xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="name">
		<xs:simpleType>
			<xs:restriction base="xs:string"></xs:restriction>
		</xs:simpleType>
	</xs:element>
	
</xs:schema>
